@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@700&display=swap');
body {
	font-size: 16px;
	background-color: #006D77;
}

/* phone or baseline views **************************/
header {
	font-family: "Montserrat", Ubuntu, sans-serif;
}
header,
footer {
	
	background-color: #83C5BE;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main
 {
	font-family: "Roboto", Ubuntu, sans-serif;
	max-width: 767px;
	margin: 0 auto;
	border-radius: 10px;
}
h1 {
	font-size: 1.1rem;
}
h3 {
	color: #006D77;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
footer {
    background-color: #D7D9D4;
  text-align: center;
  
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
th {
    text-align: left;
    font-weight: bold;
    color: #333;
    vertical-align: middle;
    background-color: #E29578;
    padding: 0.625em 1.25em;
    border-right: 1px solid #fff;
    border-radius: 10px;
}
table{
    border: 1px solid #eae7e2;
    width: 100%;
    margin: 1.5em auto;
}
td {
    background-color: #FFDDD2;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, #83C5BE, transparent) top / var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}
p.secondline{
	font-size: 13px;
	color: black;
  }
nav a:hover {
/* 	background-color: #bbb;
	color: #36454f; */
	--d: 75%;
}
.active {
	color:white;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
main picture {
	display: none;
	margin: 0.5rem;
}

footer {
	height: 4rem;

	width: 100%;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 { font-size: 1.5rem;}

	/* Horizontal Menu Examples */
	/* Flex *********************/
/* 		nav ul { display: flex; }
		nav ul li { flex: 1 1 auto; } */
	

	/* Grid *********************/
			nav ul { 
				display: grid;
				/*grid-template-columns: repeat(5, 1fr);*/
				grid-template-columns: repeat(4, minmax(130px, 1fr));
			}

	/* Inline-Block             */
	/*
			nav li {display: inline-block;}
	*/

	/* Float                    */
	/*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
	header,footer{
		flex-flow: column;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 { font-size: 2rem;}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
	header{
		flex-direction: column;
	}
}