@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@700&display=swap');
body {
	background-color: #f4cc2c;
	padding: 0;
	margin: 0;
}
header {

	background-color: #f4cc2c;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

nav
 {
	font-family: "Roboto", Ubuntu, sans-serif;
	max-width: 767px;
	margin: 0 auto;
	border-radius: 10px;
}
h2{
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}
header img {
	width: 80px;
	height: auto;
}
.rental{
	text-align: left;
}
.icon{
	text-align: right;
}
.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
    font-family: "Montserrat";
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-family: "Roboto";
	letter-spacing: 1pt;
	color: black;
	margin-left: 20px;
	font-size: .9rem;
}
h3, .ind {
	color: black;
	text-align:center;
}
nav {
	max-width: 967px;
	margin: 0 auto;
	background-color: #e97027;
	text-align: center;
	box-shadow: 4px 1px 9px 15px #3a2e26;
}
.one {
	text-align: center;
	
}
.forecast {
	max-width: 700px;
	background-color: var(--secondary-color);
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0,0,0,0.5);
	padding: .5rem;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.forecasts {
	display: flex;
	grid-template-columns: 150px 150px 150px 150px 150px ;

	justify-content: space-evenly;
	justify-items: center;
}

.forecasts article {
	border: 1px solid rgba(0,0,0,0.5);
	width: 60%;
	height: 80%;
	text-align: center;
}
.img1{
	width: 50%;
	height: 50%;
}

.forecasts article h3{
	font-size: .6rem;
	padding: 0px;
	color:black;
}
.temperature{
	font-size: .7rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, white, transparent) top / var(--d, 0) 10px no-repeat;
  transition: 0.5s;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav a:hover {
/* 	background-color: #bbb;
	color: #36454f; */
	--d: 75%;
}

#banner {
    background-color: #006D77;
    max-width: 770px;
    margin: 0 auto;
    padding: 1em;
}
img{
	width:  auto;
	height: 252px;

}
.new {
    color: white;
	font-family: "Roboto";
}
footer {
    background-color: #e97027;
  text-align: center;
  font-family: "Roboto";
  padding: 0.55px;
}
.events{
	color:white;
	text-align: center;
}
.fiveDay {
	display: block;
	text-align: center;
	font-family: Montserrat;
	background-color: #a64c19;
	margin :131px 9px 0px 10px;
	
}
.fiveDay table, th, td {
	border: 0.4px solid #006D77;
	border-collapse: collapse;

}
.fiveDay table {
	margin-left: auto;
	margin-right: auto;
}
th {
	background-color: #BFD7ED;

}
article{
	background-color:#f4cc2c;
	border-radius: 10px;
	padding: 0.1em;
}
.art1{
	background-color:#ccc;
	border-radius: 10px;
	padding: 1em;
}
.maps{
	float: right;
	width: 20% ;
	height: 20% ;
	margin-left: 20%;
	margin-right: auto;
	
}
picture.hero-ph {
	display: block;
	width: 96%;
	margin: 0 2%;

}
picture.hero-ph img{
	width: 100%
	 
}

.icon {
	width: 15% ;
	height: 15% ;

}
.info{
	text-align: right;
}
.herodiv{
	margin: auto;

	width: 360px;
	height: 300px;
}
.weathersummary{

	background: radial-gradient(#006D77,#83C5BE);
	border: 1px solid;
	padding: .5rem;
	box-shadow: 0 0 30px #777;
}
p.secondline{
  font-size: 13px;
  color: black;
}
p{
	margin: 1px;
	text-align: center;
}
#copyright {
    padding-top: 3px;
    padding-left: 75px;
    color: black;
    font-weight: bold;
    color: white;
}

#dateModified{
    color: white;
    font-weight: 200;
    padding-left: 170px;
  
}
.panel {
	padding: 2rem;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.contentbox {
	background-color: #ccc;
	border: 1px dashed;
	margin: 10px 0;
	padding: 5px;
}
.article{
	padding: .9rem;
	border-radius: 23px;
}

main {
	max-width: 1000px;
	font-family: "Roboto", serif;
	margin: 0 auto;
}
nav ul li.active a {background-color: rgba(0, 0, 0, 0.2); color:#fff;}
nav ul li a:hover {background-color: rgba(0, 0, 0, 0.4);}
nav ul.hide {display: none ;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* Larger viewports */
@media only screen and (min-width: 64em) {
	.icon {
		width: 15% ;
		height: 15% ;
	}
	.fiveDay {
		display: block;
		text-align: center;
		font-family: Montserrat;
		background-color: #a64c19;
		padding: 2em;
		border-radius: 23px;

	  margin :0px;
		
	}
	.temperature{
		font-size: .9rem;
	}
	.place1{
		float: right;
		width: 20%;
		height: 252px;
		margin-right: 0.5%;
		margin-left: 0.7%;
	}
	.panel {
		padding: 2rem;
		background-color: white;
		border-radius: 10px;
		margin: 10px;

	}
	strong{
		color: white;
	}
	.herodiv{
		margin: 10px auto;
		position: relative;
		width: 960px;
		height: 300px;
	}
	img{
		width: 962px;
		height: 252px;

	}
	.img1{
		width: 50%;
		height: 50%;
	}
	.forecast {
		max-width: 700px;
		background-color: var(--secondary-color);
		border-style: solid;
		border-width: 2px;
		border-color: rgba(0,0,0,0.5);
		padding: .5rem;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	
	.forecasts {
		display: flex;
		grid-template-columns: 150px 150px 150px 150px 150px ;

		justify-content: space-evenly;
		justify-items: center;
	}
	
	.forecasts article {
		border: 1px solid rgba(0,0,0,0.5);
		width: 60%;
		height: 80%;
		text-align: center;
	}
	
	.forecasts article h3{
		font-size: .9rem;
		padding: 0px;
		color:black;
	}
	
	.weathersummary{
		position: absolute;
		top: 50px;
		left: 50px;
		background: radial-gradient(#006D77,#83C5BE);
		border: 1px solid;
		padding: .5rem;
		box-shadow: 0 0 30px #777;
		opacity: .8;
	}
	.headings h1 {
		font-size: 3rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
    nav ul { 
        display: grid;
        /*grid-template-columns: repeat(5, 1fr);*/
        grid-template-columns: repeat(5, minmax(130px, 1fr));
    }
	nav ul li a {padding: .6rem 1rem;}
	.maps{
		float: right;
		width: 20% ;
		height: 20% ;
		margin-left: 20%;
		margin-right: 10%;
		border: 3px solid;
	}
	.icon {
		width: 2% ;
		height: 2% ;
	}
	.info{
		text-align: center;
	}
}

@media only screen and (min-width: 35rem) {

    nav button{display: none;}
    nav ul.hide{display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {
        float:left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
	.forecast {
		max-width: 700px;
		background-color: var(--secondary-color);
		border-style: solid;
		border-width: 2px;
		border-color: rgba(0,0,0,0.5);
		padding: .5rem;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	.forecasts {
		display: flex;
		grid-template-columns: 150px 150px 150px 150px 150px ;

		justify-content: space-evenly;
		justify-items: center;
	}
	
	.forecasts article {
		border: 1px solid rgba(0,0,0,0.5);
		width: 60%;
		height: 80%;
		text-align: center;
	}
	.img1{
		width: 50%;
		height: 50%;
	}
	.temperature{
		font-size: .9rem;
	}
	.forecasts article h3{
		font-size: .9rem;
		padding: 0px;
		color:black;
	}
	.info{
		text-align: right;
	}
}