@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@700&display=swap');
body {
	background-color: #006D77;
	padding: 0;
	margin: 0;
}

header {

	background-color: #83C5BE;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

nav
 {
	font-family: "Roboto", Ubuntu, sans-serif;
	max-width: 767px;
	margin: 0 auto;
	border-radius: 10px;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
    font-family: "Montserrat";
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-family: "Roboto";
	letter-spacing: 1pt;
	color: #006D77;
	margin-left: 20px;
	font-size: .9rem;
}

nav {
	max-width: 967px;
	margin: 0 auto;
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
.one {
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, white, transparent) top / var(--d, 0) 10px no-repeat;
  transition: 0.5s;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav a:hover {
/* 	background-color: #bbb;
	color: #36454f; */
	--d: 75%;
}
.active {
	color: yellow;
}
footer {
    background-color: #83C5BE;
  text-align: center;
  font-family: "Roboto";
  padding: 0.55px;
}
.fiveDay {
	display: block;
	text-align: center;
	font-family: Montserrat;
	background-color: #83C5BE;
	padding: 1em;
}
.fiveDay table, th, td {
	border: 0.4px solid #006D77;
	border-collapse: collapse;
	padding: 1em;
}
.fiveDay table {
	margin-left: auto;
	margin-right: auto;
}
th {
	background-color: #BFD7ED;

}
article{
	background-color:#ccc;
}
.herodiv{
	margin: auto;
	position: relative;
	width: 360px;
	height: 300px;
}
.weathersummary{

	background: radial-gradient(#006D77,#83C5BE);
	border: 1px solid;
	padding: .5rem;
	box-shadow: 0 0 30px #777;

}

p.secondline{
  font-size: 13px;
  color: black;
}
p{
	margin: 1px;
}
#copyright {
    padding-top: 3px;
    padding-left: 75px;
    color: black;
    font-weight: bold;
    color: white;
}

#dateModified{
    color: white;
    font-weight: 200;
    padding-left: 170px;
  
}
.panel {
	padding: 2rem;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.contentbox {
	background-color: #ccc;
	border: 1px dashed;
	margin: 10px 0;
	padding: 5px;
}

main {
	max-width: 1000px;
	font-family: "Roboto", serif;
	margin: 0 auto;
}
nav ul li.active a {background-color: rgba(0, 0, 0, 0.2); color:#fff;}
nav ul li a:hover {background-color: rgba(0, 0, 0, 0.4);}
nav ul.hide {display: none ;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* Larger viewports */
@media only screen and (min-width: 64em) {

	.place1{
		float: right;
		width: 20%;
		height: 252px;
		margin-right: 0.5%;
		margin-left: 0.7%;
		
	}
	.panel {
		padding: 2rem;
		background-color: white;
		border-radius: 10px;
		margin: 10px;
		grid-column: 1fr 1fr 1fr 1fr;
	}
	.weathersummary{

		background: radial-gradient(#006D77,#83C5BE);
		border: 1px solid;
		padding: .5rem;
		box-shadow: 0 0 30px #777;
		opacity: .8;
	}
	.herodiv{
		margin: 10px auto;
		position: relative;
		width: 960px;
		height: 300px;
	}
	img{
		width: 962px;
		height: 252px;
	}
	.weathersummary{
		position: absolute;
		top: 50px;
		left: 50px;
		background: radial-gradient(#006D77,#83C5BE);
		border: 1px solid;
		padding: .5rem;
		box-shadow: 0 0 30px #777;
		opacity: .8;
	}
	.headings h1 {
		font-size: 3rem;
	}
.article{
	padding: .9rem;
}
	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
    nav ul { 
        display: grid;
        /*grid-template-columns: repeat(5, 1fr);*/
        grid-template-columns: repeat(6, minmax(130px, 1fr));
    }
	nav ul li a {padding: .6rem 1rem;}
}

@media only screen and (min-width: 35rem) {

    nav button{display: none;}
    nav ul.hide{display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {
        float:left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
}


